.intro1 {
  background-image: url(../images/sprinkles.gif);
}
@media screen and (prefers-reduced-motion: reduce){
  .intro1{
      background-image: none;
  }
}
main{
  font-family: serif
}
/*keeping links the same color before and after visitng */
a, a:visited{
    color:#ffffff
}
/* getting rid of link underlines in header*/
nav ul li a{
  text-decoration: none
}
/* skip to content button*/
.skip a{
  position: absolute;
  top: -40px;
  color:black;
}
.skip a:focus{
  
  top: 20px;
}
/* setting active header link*/
.active{
  background: #545454;
  text-decoration: underline;
  border: solid lightgray 2px;
}
nav li:hover , nav li:focus{
  background: #545454;
  text-decoration: underline;
}

/*background image */
body{
    background-image: url(../images/backg.jpeg);
}

/* removing bullets from list*/
ul{
    list-style-position: outside;
    list-style: none;
    
}
/*header and nav styling */
header .intro, header .intro1{
    background-color: white;
    border: #8b8589 3px solid;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    
}
nav >ul> li> a{
    margin: 5px;
}

nav ul li{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 27px;
    text-decoration: none;
    background: #8b8589;
    padding: 10px 20px 10px 20px;
    border: solid #808080 1px;
    text-decoration: none;
    margin: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    
}

/*recipe flex styling */
.intro, .intro1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}
figure img{
    width: 100%;
    border: #c0c0c0 5px solid;
}
.controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.control{
    width: 100px;
    margin: 5px
}
.control {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 0px 2px 4px #dedede;
    -webkit-box-shadow: 4px 4px 4px #2b2b2b;
    -moz-box-shadow: 4px 4px 4px #2b2b2b;
    box-shadow: 4px 4px 4px #2b2b2b;
    font-family: Georgia;
    color: #2b282b;
    font-size: 15px;
    background: #f7f7f7;
    padding: 10px 20px 10px 20px;
    border: solid #808080 1px;
    text-decoration: none;
  }
  
  .control:hover {
    background: #d4d4d4;
    text-decoration: none;
  }

  /*hiding intros for the mobile view*/
  .intro .longp{
    display: none;
  }
  .intro .medp{
    display: none;
  }

/* header and intros for main page*/
  .logo{
    width: 50px;
    margin: 10px;
  }
  .title{
    display: flex;
    align-items: center;
  }
 
  .intro{
    grid-column: 1/5;
  }
  
  .text{
    background-color: rgba(255,255,255,.85);
    grid-row: 2/3;
    grid-column: 3/5;
    margin: 50px 25px 50px 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px rgba(0,0,0,0.25) solid;
  }
  .text{
    background-color: rgba(255,255,255,.85);
    grid-row: 3/4;
    grid-column: 2/4;
    margin: 50px 25px 50px 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px rgba(0,0,0,0.25) solid;
  }
  .text{
    background-color: rgba(255,255,255,.85);
    grid-row: 4/5;
    grid-column: 1/3;
    margin: 50px 25px 50px 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px rgba(0,0,0,0.25) solid;
  }
  .text a{
    color:black;
  }
  .photintro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
.photintro img{
  width: 200px;
  height: 250px;
  margin: 5px;

}
.photintro figcaption{
  color:black;
  width: 200px;
  background-color: white;
  text-decoration: none;
  
  margin: 5px;
}
.photintro a{
  border: #808080 5px solid;
  margin:5px;
  border-radius: 5px;
  padding:5px
}

footer{
  background-color: white;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.gridcont{
  display: flex;
}

#pans{
  display: grid;
  grid-template-columns: 49% 49%;
  justify-items: center;
  justify-content: center;
  width: 100%;
}
#pans img{
  width: 100%;
  height: 200px;
}
#pans h2{
  grid-column: 1/3;
  background-color:white ;
  color: black;
  border: solid #808080 5px;
  padding: 5px;
}

#pans a:hover{
  border: solid #808080 5px;
}
.container figure img:hover{
  border: solid #808080 10px;
}

  @media (min-width: 700px) {
    nav ul{
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 5px;
      font-family: 'Times New Roman', Times, serif;
      color: #ffffff;
      font-size: 27px;
      text-decoration: none;
      background: #8b8589;
      padding: 10px 20px 10px 20px;
      border: solid #808080 1px;
      text-decoration: none;
      margin: 5px;
      height: 50px;
      justify-content: space-evenly;
  }
    .container{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        
    }
    .controls{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .control{
        width: 90px;
        margin:5px;
    }
    .intro .longp{
        display: none;
    }
    .intro .shortp{
        display: none;
    }
    .intro .medp{
        display: flex;
    }
    nav ul{
        flex-direction: row;
        width:100%;
    }
   
    .photintro{
      justify-content: center;
      align-items: stretch;
    }
    #pans{
      grid-template-columns: 33% 33% 33%;
    }
    #pans h2{
      grid-column: 1/4;
    }
    #pans a:nth-child(5){
      
      display: none;
    }
    #pans h2:nth-child(6){
      grid-column:1/2 ;
      grid-row:3/4;
      height: 25px;
      
    }
    #pans a:nth-child(7){
      grid-column:1/2 ;
      grid-row: 4/5;
    }
    #pans a:nth-child(8){
      grid-column:2/3 ;
      grid-row:4/5 ;
    }
    #pans h2:nth-child(9){
      grid-column: 1/2;
      grid-row: 5/6;
      
      
    }
    #pans a:nth-child(10){
      grid-column: 1/2;
      grid-row: 6/7;
    }
    #pans a:nth-child(11){
      grid-column:2/3 ;
      grid-row: 6/7;
    }
  }

  @media (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;

    }
    .control{
        width: 110px;
        margin:5px;
    }
    nav ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: end;
    }
    
    
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro .medp{
        display: none;
    }
    .intro .shortp{
        display: none;
    }
    .intro .longp{
        display: flex;
        width: 75%;
    }
    
    .text{
      width: 33%;
    }
    #pans {
      grid-template-columns: 24% 24% 24% 24%;
      width: 100%;
    }
    #pans h2{
      grid-column: 1/5;
    }
    #pans a:nth-child(5){
      
      display: block;
    }
    #pans h2:nth-child(6){
      grid-column: 1/2;
      grid-row: 3/4;
    }
    #pans a:nth-child(7){
      grid-column: 1/2;
      grid-row: 4/5;
    }
    #pans a:nth-child(8){
      grid-column: 2/3;
      grid-row: 4/5;
    }
    #pans h2:nth-child(9){
      grid-column: 3/4;
      grid-row: 3/4;
    }
    #pans a:nth-child(10){
      grid-column: 3/4;
      grid-row: 4/5;
    }
    #pans a:nth-child(11){
      grid-column: 4/5;
      grid-row: 4/5;
    }
  }